// Main Primary color */$
$color-primary-0: #6AB1F1;
$color-primary-1: #CBE5FD;
$color-primary-2: #227FD4;
$color-primary-3: #003E77;

// Main Secondary color (1) */
$color-secondary-1-0: #8873F2;
$color-secondary-1-1: #D6CEFD;
$color-secondary-1-2: #4A2DD9;

$color-secondary-1-3: #15007F;

// Main Secondary color (2) */
$color-secondary-2-0: #61F49C;
$color-secondary-2-1: #C8FDDD;
$color-secondary-2-2: #15DC66;
$color-secondary-2-3: #008435;

// Main Complement color */
$color-complement-0: #FFBF65;
$color-complement-1: #FFE9C9;
$color-complement-2: #FF9F18;
$color-complement-3: #B76B00;

$bg-main: #333333;
$bg-inner: #262626;

$border: #151515;

$font-white: #F3F3F3;
$font-grey: #CACACA;

$red: #FA3E3E;
$blue: #4267B2;
