section
  div.flex-center
    div.form-container
      h3 Forgot password
      div.text-right
        a(routerLink="/authentication/sign-in") Sign In

      form([formGroup]="form", (ngSubmit)="onSubmit()", [class.submitted]="submitted")
        .form-group
          label.center-block
          | Email :
          input.form-control(formControlName="email")

        app-message-error([error]="error")

        div.form-group.text-right
          button.btn.btn-success(type="submit") Submit
